*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
}

main .build{
    background-image: url(../images/Rectangle\ 1.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;  
    background-blend-mode: multiply; 
    background-color: rgba(0,0,0,0.9);
}

main .build .build-txt {
    margin-top: 22%;
}

